@import "variables/index";
$samples: &;
.palete{
	&__set{
		#{$samples}._saturation &{
			padding: 3rem 2rem;
			
			will-change: background-color;
			transition-property: background-color;
			transition-duration: $b_td;
			transition-timing-function: $b_tf;
		}

		&.is-light{
			background-color: $c_gray_11;
		}
		&.is-dark{
			background-color: $c_gray_01;
		}
	}
	&__item{
		#{$samples}._saturation &{
			$scale: 5rem;
			animation: none;
			display: inline-block;
			margin: 1rem	;
			width: $scale * 1.5;
			height: $scale;
			background-color: $c_gray_1;
			border-radius: 0.5rem;
		}
	}
}