@import "variables/index";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.preset{
    $item: null;
    $sample: null;

    padding: 1em 0;
    &__title{
        text-transform: capitalize;
    }
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        $item: &;
        $width: 100px;
        $height: $width * 1.1; 
        display: inline-block;
        border-radius: $border-radius-base;
        border: 1px solid $c_gray_11;
        height: $height;
        padding: 1em;
        text-align: center;
        margin: 15px;
        flex: 0 0 5%;
        will-change: background-color;
        transition-property: background-color;
        transition-duration: $b_td;
        transition-timing-function: $b_tf;
        cursor: pointer;
        &.is-selected{
            background-color: $c_gray_11;
        }
        &-icon{
            opacity: 0;
            will-change: transform;
            transition-property: transform;
            transition-duration: $b_td;
            transition-timing-function: $b_tf;
            
            #{$item}:hover &,
            #{$item}.is-selected &{
                opacity: 1;
            }
            #{$sample}.is-dark &{
                color: $c_gray_1;
            }
            #{$sample}.is-light &{
                color: $c_gray_01;
            }
        }
        &-sample{
            $sample: &;
            $height: 50px; 
            width: 100%;
            height: $height;
            line-height: $height;
            border-radius: $border-radius-base;
            margin-bottom: 1em;
        }
        &-value{
            font-weight: bold;
        }

        &:hover{
            background-color: $c_gray_11;
        }
    }
}