@import "env";

.colorpicker{
	padding: 20px 0;
	text-align: center;

	@include respond-to('sm') {
		padding: 50px 0;
	}
	&__title{
		font-weight: 600;
		margin-bottom: 40px;

		&._light{
			color: $c_gray_1;
		}
		&._dark{
			color: $c_gray_01;
		}
	}
	&__box{
		margin: 0 auto;
		padding: 20px;
		background-color: $c_gray_1;
		display: inline-block;
	}
}