@import "env";

$scale: 0.75em;
.mix{
	
	display: inline-block;
	vertical-align: bottom;
	position: relative;

	&._hidden{
		overflow: hidden;
	}
	&__sample{
		width: $scale;
		height: $scale;
		margin-left: 0.5em;
		display: inline-block;
		border-radius: $border-radius-base;
		cursor: pointer;
		box-shadow: 1px 1px 3px transparentize($c_gray_01, 0.8);
	}
	&__picker{
		$width: 370px;
		position: absolute;
		top: 100%;
		width: $width;
		padding: $alert-padding;
		left: -140px;
		background-color: $c_gray_1;
		box-shadow: 1px 1px 4px transparentize($c_gray_01, 0.9);
		z-index: 100;

		@include respond-to('sm') {
			top: 0;
			left: 100%;
		}
	}
}