@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.format-toggle{
	vertical-align: middle;
	margin-right: $grid-gutter-width / 2;
	&__label{
		display: inline-block;
		line-height: 34px;
		padding: 0 5px;

		&.is-active{
			text-shadow: 1px 0 0 currentColor;
		}
	}
	&__toggle{
		display: inline-block;
		vertical-align: inherit;

		.react-toggle-track-x,
		.react-toggle-track-check{
			display: none;
		}
	}
}